<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1>{{ appName }} App</h1>
<router-outlet />

<!-- <app-embedded-microfrontend remoteUrl="http://localhost:4202/remoteEntry.js" scope="container" module="./mount"
    type="module">
</app-embedded-microfrontend> -->

<!-- <app-embedded-microfrontend remoteUrl="http://localhost:3000/remoteEntry.js" scope="container" module="./mount">
</app-embedded-microfrontend> -->